name: Terraform Infrastructure Deployment

on:
  workflow_dispatch:
    inputs:
      reason:
        description: "Reason for manual trigger"
        required: false
        type: string

env:
  AWS_REGION: "eu-central-1"

permissions:
  id-token: write
  contents: read

jobs:
  tf-plan-apply:
    name: 'Terraform Plan & Apply'
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout Codebase
        uses: actions/checkout@v5
        with:
          ref: main

      - name: Validate models YAML schema
        run: |
          python .github/scripts/validate_models_yaml.py models.yaml

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"

      - name: Initialize Terraform configuration 
        run: terraform init -upgrade -input=false

      - name: Validate Terraform Configuration
        run: terraform validate -no-color

      - name: Terraform Plan
        run: terraform plan -out=tfplan -input=false -no-color

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false -no-color tfplan